
@model Result

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link asp-href-include="lib/bootstrap/dist/css/*.min.css" rel="stylesheet" />
</head>
<body>
<table class="table table-bordered table-striped table-sm">
    <tr>
        <th>Controller: </th>
        <td>@Model.Controller </td>
    </tr>
    <tr>
        <th>Action: </th>
        <td>@Model.Action </td>
    </tr>
    @foreach (string key in Model.Data.Keys)
    {
        <tr><th>@key :</th><td>@Model.Data[key]</td></tr>
    }
@*        generates plain url outside of anchor tag(not sure of the application)*@
        <h3>Visit this http:/@Url.Action("Index", "Home", new{id=100})</h3>
</table>
@*    generates /Admin route as Index is default*@
    <a asp-action="Index" asp-controller="Admin">outgoing url</a>
    <a asp-action="Index" asp-controller="Home" asp-route-id="hello">outgoing url </a>

</body>
</html>
